---
title: Met Museum Objects
format: html
---

## Import libraries

In [ ]:
import pandas as pd

In [ ]:
pd.set_option('display.max_columns', None)

## Import and transform data

In [ ]:
df = pd.read_csv('data/MetObjects.csv')
df

In [ ]:
df.columns = map(str.lower, df.columns)
df.columns = df.columns.str.replace(' ', '_')
for col in df.columns:
    try: df[col].str.strip()
    except: pass
df = df.rename(columns = { 'accessionyear': 'accession_year' })
df.head()

## Analysis

In [ ]:
df.describe()

In [ ]:
df.department.unique()

In [ ]:
df.department.value_counts()

In [ ]:
df = df[df.department == 'Greek and Roman Art']
df = df.reset_index()
df

In [ ]:
df.is_highlight.value_counts()

In [ ]:
df = df.dropna(axis = 1, how = 'all')
df

In [ ]:
for col in df.columns:
    print(col)

In [ ]:
cols = [ 'constituent_id', 'artist_role', 'artist_prefix', 'artist_display_name', 'artist_display_bio', 'artist_suffix', 'artist_alpha_sort', 'artist_nationality', 'artist_begin_date', 'artist_end_date', 'artist_gender' ]
for col in cols:
    print(f'{col}:{df[col].value_counts()}\n')

In [ ]:
df = df.drop([ 'constituent_id', 'department', 'artist_role', 'artist_display_bio', 'artist_begin_date', 'artist_end_date', 'artist_gender', 'artist_ulan_url', 'artist_wikidata_url', 'link_resource', 'object_wikidata_url', 'tags_aat_url', 'tags_wikidata_url' ], axis = 1)
df