---
title: Met Museum Objects
format: html
---

## Import libraries

In [24]:
import pandas as pd

In [25]:
pd.set_option('display.max_columns', None)

## Import and format starting data

In [26]:
og = pd.read_csv('data/MetObjects.csv')
og

/var/folders/xp/x9myx6ds52gdc1xb9k_f0vvr0000gn/T/ipykernel_2380/3059959268.py:1: DtypeWarning: Columns (5,7,10,11,12,13,14,34,35,36,37,38,39,40,41,42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  og = pd.read_csv('data/MetObjects.csv')

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,Constituent ID,Artist Role,Artist Prefix,Artist Display Name,Artist Display Bio,Artist Suffix,Artist Alpha Sort,Artist Nationality,Artist Begin Date,Artist End Date,Artist Gender,Artist ULAN URL,Artist Wikidata URL,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,NaN,NaN,16429,Maker,,James Barton Longacre,"American, Delaware County, Pennsylvania 1794–1...",,"Longacre, James Barton",American,1794,1869,NaN,http://vocab.getty.edu/page/ulan/500011409,https://www.wikidata.org/wiki/Q3806459,1853,1853,1853,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1979",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,NaN,NaN,107,Maker,,Christian Gobrecht,1785–1844,,"Gobrecht, Christian",American,1785,1844,NaN,http://vocab.getty.edu/page/ulan/500077295,https://www.wikidata.org/wiki/Q5109648,1901,1901,1901,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1980",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484951,55.621.134,False,False,False,900605,NaN,Drawings and Prints,1955,Print,Holiday Card,NaN,NaN,NaN,NaN,NaN,22488,Artist,,Douglas Gorsline,"American, Rochester, New York 1913–1985 Dijon,...",,"Gorsline, Douglas",American,1913,1985,NaN,NaN,NaN,1944,1939,1949,Engraving,Block: 3 15/16 × 2 1/2 in. (10 × 6.4 cm)\r\nSh...,"Gift of the Estate of John Taylor Arms, 1955",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
484952,1977.646,False,False,False,900606,NaN,Drawings and Prints,1977,Print,Brooklyn Local,NaN,NaN,NaN,NaN,NaN,22488,Artist,,Douglas Gorsline,"American, Rochester, New York 1913–1985 Dijon,...",,"Gorsline, Douglas",American,1913,1985,NaN,NaN,NaN,1944,1939,1949,Etching,Plate: 8 1/4 × 6 7/8 in. (20.9 × 17.5 cm)\r\nS...,"John B. Turner Fund, 1977",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
484953,33.40.1,False,False,False,900633,NaN,Drawings and Prints,1933,Print,Yesterday and Today,NaN,NaN,NaN,NaN,NaN,9738,Artist,,Edmond Mario Granville,"American, Chicago 1905–1969",,"Granville, Edmond Mario",American,1905,1969,NaN,NaN,NaN,ca. 1925–33,1920,1938,Etching,Plate: 8 3/4 × 5 7/8 in. (22.2 × 15 cm)\r\nShe...,"Gift of E. Mario Granville, 1933",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
484954,170.1 C42,True,False,False,900717,NaN,The Libraries,NaN,NaN,"De la loi du contraste simultané des couleurs,...",NaN,NaN,NaN,NaN,NaN,19552,Author,,Michel Eugène Chevreul,1786-1889,,"Chevreul, Michel Eugène",,1786,1889,NaN,(not assigned),https://www.wikidata.org/wiki/Q271651,1839,1839,1839,NaN,"2 pages, 30 unnumbered leaves of plates (some ...",NaN,NaN,Paris,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
484955,17.3.3457,False,False,False,900748,NaN,Drawings and Prints,1917,Print,Madison Square - Fifth Avenue and Broadway at ...,NaN,NaN,NaN,NaN,NaN,10040,Artist,,Frank M. Gregory,"American, born 1848",,"Gregory, Frank M.",American,1848,1948,NaN,NaN,NaN,1887,1887,1887,Etching,Image: 6 5/8 × 11 3/4 in. (16.9 × 29.9 cm)\r\n...,"Harris Brisbane Dick Fund, 1917",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [27]:
og.columns = map(str.lower, og.columns)
og.columns = og.columns.str.replace(' ', '_')
for col in og.columns:
    try: og[col].str.strip()
    except: pass
og = og.rename(columns = { 'accessionyear': 'accession_year' })
og.head()

,object_number,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,department,accession_year,object_name,title,culture,period,dynasty,reign,portfolio,constituent_id,artist_role,artist_prefix,artist_display_name,artist_display_bio,artist_suffix,artist_alpha_sort,artist_nationality,artist_begin_date,artist_end_date,artist_gender,artist_ulan_url,artist_wikidata_url,object_date,object_begin_date,object_end_date,medium,dimensions,credit_line,geography_type,city,state,county,country,region,subregion,locale,locus,excavation,river,classification,rights_and_reproduction,link_resource,object_wikidata_url,metadata_date,repository,tags,tags_aat_url,tags_wikidata_url
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,NaN,NaN,16429,Maker,,James Barton Longacre,"American, Delaware County, Pennsylvania 1794–1...",,"Longacre, James Barton",American,1794,1869,NaN,http://vocab.getty.edu/page/ulan/500011409,https://www.wikidata.org/wiki/Q3806459,1853,1853,1853,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1979",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,NaN,NaN,107,Maker,,Christian Gobrecht,1785–1844,,"Gobrecht, Christian",American,1785,1844,NaN,http://vocab.getty.edu/page/ulan/500077295,https://www.wikidata.org/wiki/Q5109648,1901,1901,1901,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1980",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

## Transformation and Analysis

In [28]:
og.describe()

           object_id  object_begin_date  object_end_date  metadata_date
count  484956.000000      484956.000000    484956.000000            0.0
mean   394499.940353        1303.913734      1402.978142            NaN
std    242732.561637        1710.259182      1132.101347            NaN
min         1.000000     -400000.000000   -240000.000000            NaN
25%    212379.750000        1535.000000      1593.000000            NaN
50%    374771.500000        1800.000000      1840.000000            NaN
75%    570971.250000        1891.000000      1905.000000            NaN
max    900748.000000        5000.000000      2870.000000            NaN

In [29]:
og.department.unique()

array(['The American Wing', 'European Sculpture and Decorative Arts',
       'Modern and Contemporary Art', 'Arms and Armor', 'Medieval Art',
       'Asian Art', 'Islamic Art', 'Costume Institute',
       'Arts of Africa, Oceania, and the Americas', 'Drawings and Prints',
       'Greek and Roman Art', 'Photographs', 'Ancient Near Eastern Art',
       'Egyptian Art', 'European Paintings', 'Robert Lehman Collection',
       'The Cloisters', 'Musical Instruments', 'The Libraries'],
      dtype=object)

In [30]:
og.department.value_counts()

department
Drawings and Prints                          172630
European Sculpture and Decorative Arts        43051
Photographs                                   37459
Asian Art                                     37000
Greek and Roman Art                           33726
Costume Institute                             31652
Egyptian Art                                  27969
The American Wing                             18532
Islamic Art                                   15573
Modern and Contemporary Art                   14696
Arms and Armor                                13623
Arts of Africa, Oceania, and the Americas     12367
Medieval Art                                   7142
Ancient Near Eastern Art                       6223
Musical Instruments                            5227
European Paintings                             2626
Robert Lehman Collection                       2586
The Cloisters                                  2340
The Libraries                                   534
Name: count, dtype: int64

In [31]:
df = og[og.department == 'Greek and Roman Art']
df = df.reset_index(drop = True)
df

,object_number,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,department,accession_year,object_name,title,culture,period,dynasty,reign,portfolio,constituent_id,artist_role,artist_prefix,artist_display_name,artist_display_bio,artist_suffix,artist_alpha_sort,artist_nationality,artist_begin_date,artist_end_date,artist_gender,artist_ulan_url,artist_wikidata_url,object_date,object_begin_date,object_end_date,medium,dimensions,credit_line,geography_type,city,state,county,country,region,subregion,locale,locus,excavation,river,classification,rights_and_reproduction,link_resource,object_wikidata_url,metadata_date,repository,tags,tags_aat_url,tags_wikidata_url
0,70.1,True,True,True,239584,169.0,Greek and Roman Art,1870.0,"Sarcophagus, garland",Marble sarcophagus with garlands,Roman,Severan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 200–225 CE,200,225,"Marble, Proconnesian",Overall: 53 x 88in. (134.6 x 223.5cm) ...,"Gift of Abdo Debbas, 1870",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stone Sculpture,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q29383708,NaN,"Metropolitan Museum of Art, New York, NY",Animals|Garlands|Hunting|Medusa,http://vocab.getty.edu/page/aat/300249525|http...,https://www.wikidata.org/wiki/Q729|https://www...
1,74.51.3631,False,False,True,239585,171.0,Greek and Roman Art,1874.0,Pendant in the form of a vase,Pendant in the form of a vase,Greek,Classical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5th–4th century BCE,-499,-300,Gold,Other: 9/16 in. (1.4 cm),"The Cesnola Collection, Purchased by subscript...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gold and Silver,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116305682,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,74.51.1,False,False,True,239586,NaN,Greek and Roman Art,1874.0,Bead,Glass bead,Greek,Hellenistic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 330–70 BCE,-330,-70,Glass,L.: 1 in. (2.4 cm)\r\nDiam.: 3/8 in. (1.0 cm),"The Cesnola Collection, Purchased by subscript...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Glass,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,74.51.2,False,False,True,239587,NaN,Greek and Roman Art,1874.0,Perfume bottle,Glass perfume bottle,"Roman, Cypriot",Mid Imperial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2nd–3rd century CE,100,299,Glass,6 5/8in. (16.8cm)\r\nOther: 3 5/8in. (9.2cm)\r...,"The Cesnola Collection, Purchased by subscript...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Glass,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,74.51.3,False,False,True,239588,NaN,Greek and Roman Art,1874.0,Bead,Glass eye bead,"Phoenician, Cypriot",Archaic or Classical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6th–4th century BCE,-599,-300,Glass,L.: 3/8 in. (1 cm)\r\nDiam.: 15/16 in. (0.9 cm),"The Cesnola Collection, Purchased by subscript...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Glass,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33721,"2021.264.2a, b",False,False,False,854888,NaN,Greek and Roman Art,2021,sarcophagus,Sarcophagus,Roman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3rd century,200,300,Marble,Other: 44 × 84 × 40 in. (111.8 × 213.4 × 101.6...,"Gift of Carmel and Eugene Krauss, M.D., 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stone Sculpture,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
33722,2021.437,False,False,True,856618,152,Greek and Roman Art,2021,statuette,Statuette of a standing goddess,"Greek, Boeotian",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 525–500 BC,-530,-495,terracotta,9 × 3 3/8 × 1 1/4 in. (22.9 × 8.6 × 3.2 cm),"Purchase, Patricia and Marietta Fried Gift, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Terracottas,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116445622,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
33723,74.51.6718,False,False,True,857709,171,Greek and Roman Art,1874,Askos,Terracotta askos in the shape of a quadruped,Cypriot,Early Cypriot III–Middle Cypriot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 2000–1725 BCE,-2000,-1725,Terracotta,"2 5/8 × 1 1/2 × 3 3/4 in., 1.764oz. (6.7 × 3.8...","The Cesnola Collection, Purchased by subscript...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vases,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116445645,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
33724,74.51.6719,False,False,True,857715,171,Greek and Roman Art,1874,Askos,Terracotta askos in the shape of a water bird,Cypriot,Late Cypriot IIIB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,early 11th century BCE,-1100,-1001,Terracotta,"4 1/2 × 2 3/4 × 6 1/4 in., 5.114oz. (11.4 × 7 ...","The Cesnola Collection, Purchased by subscript...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vases,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116445646,NaN,"Metropolitan Museum of Art, New York, NY",Birds,http://vocab.getty.edu/page/aat/300266506,https://www.wikidata.org/wiki/Q5113
33725,74.51.6720,False,False,True,857718,171,Greek and Roman Art,1874,Stirrup jar,Terracotta stirrup jar,Mycenaean,Late Helladic IIIA2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 1375–1300BCE,-1376,-1300,Terracotta,"7 1/2 × 5 1/2 in., 16.753oz. (19.1 × 14 cm, 475g)","The Cesnola Collection, Purchased by subscript...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vases,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116445649,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [32]:
df_p = (df.shape[0] / og.shape[0]) * 100
df_p

6.95444535174325

In [33]:
df_highlights = df[df.is_highlight == True]
og_highlights = og[og.is_highlight == True]
df_highlight_p = (df_highlights.shape[0] / og_highlights.shape[0]) * 100
df_highlight_p

4.105149441843716

In [34]:
df = df.dropna(axis = 1, how = 'all')
df

,object_number,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,department,accession_year,object_name,title,culture,period,constituent_id,artist_role,artist_prefix,artist_display_name,artist_display_bio,artist_suffix,artist_alpha_sort,artist_nationality,artist_begin_date,artist_end_date,artist_gender,artist_ulan_url,artist_wikidata_url,object_date,object_begin_date,object_end_date,medium,dimensions,credit_line,classification,link_resource,object_wikidata_url,repository,tags,tags_aat_url,tags_wikidata_url
0,70.1,True,True,True,239584,169.0,Greek and Roman Art,1870.0,"Sarcophagus, garland",Marble sarcophagus with garlands,Roman,Severan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 200–225 CE,200,225,"Marble, Proconnesian",Overall: 53 x 88in. (134.6 x 223.5cm) ...,"Gift of Abdo Debbas, 1870",Stone Sculpture,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q29383708,"Metropolitan Museum of Art, New York, NY",Animals|Garlands|Hunting|Medusa,http://vocab.getty.edu/page/aat/300249525|http...,https://www.wikidata.org/wiki/Q729|https://www...
1,74.51.3631,False,False,True,239585,171.0,Greek and Roman Art,1874.0,Pendant in the form of a vase,Pendant in the form of a vase,Greek,Classical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5th–4th century BCE,-499,-300,Gold,Other: 9/16 in. (1.4 cm),"The Cesnola Collection, Purchased by subscript...",Gold and Silver,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116305682,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,74.51.1,False,False,True,239586,NaN,Greek and Roman Art,1874.0,Bead,Glass bead,Greek,Hellenistic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 330–70 BCE,-330,-70,Glass,L.: 1 in. (2.4 cm)\r\nDiam.: 3/8 in. (1.0 cm),"The Cesnola Collection, Purchased by subscript...",Glass,http://www.metmuseum.org/art/collection/search...,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,74.51.2,False,False,True,239587,NaN,Greek and Roman Art,1874.0,Perfume bottle,Glass perfume bottle,"Roman, Cypriot",Mid Imperial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2nd–3rd century CE,100,299,Glass,6 5/8in. (16.8cm)\r\nOther: 3 5/8in. (9.2cm)\r...,"The Cesnola Collection, Purchased by subscript...",Glass,http://www.metmuseum.org/art/collection/search...,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,74.51.3,False,False,True,239588,NaN,Greek and Roman Art,1874.0,Bead,Glass eye bead,"Phoenician, Cypriot",Archaic or Classical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6th–4th century BCE,-599,-300,Glass,L.: 3/8 in. (1 cm)\r\nDiam.: 15/16 in. (0.9 cm),"The Cesnola Collection, Purchased by subscript...",Glass,http://www.metmuseum.org/art/collection/search...,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33721,"2021.264.2a, b",False,False,False,854888,NaN,Greek and Roman Art,2021,sarcophagus,Sarcophagus,Roman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3rd century,200,300,Marble,Other: 44 × 84 × 40 in. (111.8 × 213.4 × 101.6...,"Gift of Carmel and Eugene Krauss, M.D., 2021",Stone Sculpture,http://www.metmuseum.org/art/collection/search...,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
33722,2021.437,False,False,True,856618,152,Greek and Roman Art,2021,statuette,Statuette of a standing goddess,"Greek, Boeotian",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 525–500 BC,-530,-495,terracotta,9 × 3 3/8 × 1 1/4 in. (22.9 × 8.6 × 3.2 cm),"Purchase, Patricia and Marietta Fried Gift, 2021",Terracottas,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116445622,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
33723,74.51.6718,False,False,True,857709,171,Greek and Roman Art,1874,Askos,Terracotta askos in the shape of a quadruped,Cypriot,Early Cypriot III–Middle Cypriot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 2000–1725 BCE,-2000,-1725,Terracotta,"2 5/8 × 1 1/2 × 3 3/4 in., 1.764oz. (6.7 × 3.8...","The Cesnola Collection, Purchased by subscript...",Vases,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116445645,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
33724,74.51.6719,False,False,True,857715,171,Greek and Roman Art,1874,Askos,Terracotta askos in the shape of a water bird,Cypriot,Late Cypriot IIIB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,early 11th century BCE,-1100,-1001,Terracotta,"4 1/2 × 2 3/4 × 6 1/4 in., 5.114oz. (11.4 × 7 ...","The Cesnola Collection, Purchased by subscript...",Vases,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116445646,"Metropolitan Museum of Art, New York, NY",Birds,http://vocab.getty.edu/page/aat/300266506,https://www.wikidata.org/wiki/Q5113
33725,74.51.6720,False,False,True,857718,171,Greek and Roman Art,1874,Stirrup jar,Terracotta stirrup jar,Mycenaean,Late Helladic IIIA2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca. 1375–1300BCE,-1376,-1300,Terracotta,"7 1/2 × 5 1/2 in., 16.753oz. (19.1 × 14 cm, 475g)","The Cesnola Collection, Purchased by subscript...",Vases,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q116445649,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [35]:
for col in df.columns:
    print(col)

object_number
is_highlight
is_timeline_work
is_public_domain
object_id
gallery_number
department
accession_year
object_name
title
culture
period
constituent_id
artist_role
artist_prefix
artist_display_name
artist_display_bio
artist_suffix
artist_alpha_sort
artist_nationality
artist_begin_date
artist_end_date
artist_gender
artist_ulan_url
artist_wikidata_url
object_date
object_begin_date
object_end_date
medium
dimensions
credit_line
classification
link_resource
object_wikidata_url
repository
tags
tags_aat_url
tags_wikidata_url

In [36]:
cols = [ 'constituent_id', 'artist_role', 'artist_prefix', 'artist_display_name', 'artist_display_bio', 'artist_suffix', 'artist_alpha_sort', 'artist_nationality', 'artist_begin_date', 'artist_end_date', 'artist_gender' ]
for col in cols:
    print(f'{col}: {df[col].value_counts()}\n')

constituent_id: constituent_id
4910         301
4922          98
4916          76
4915          75
4917          67
            ...
493274932      1
493334933      1
490844936      1
5301           1
492414924      1
Name: count, Length: 193, dtype: int64

artist_role: artist_role
Artist                  2077
Artist|Artist             54
Source                    11
Artist|Artist|Artist       1
Artist and publisher       1
Maker                      1
Name: count, dtype: int64

artist_prefix: artist_prefix
Attributed to the                                   1160
Attributed to                                        404
Attributed to the                                    176
Attributed to the manner of the                       48
                                                      35
                                                    ...
Signed by|Signed by                                    1
Original attributed to                                 1
Attributed to an artist working in the manner of       1
Signed by|Related to the style of                      1
Probably the                                           1
Name: count, Length: 113, dtype: int64

artist_display_name: artist_display_name
Makron                      209
Douris                       47
Antiphon Painter             40
Euaion Painter               32
Brygos Painter               32
                           ...
Orpheus Painter               1
Painter of Ruvo 325           1
Painter of Munich 2660        1
Oakeshott Painter             1
Painter of Berlin F 3383      1
Name: count, Length: 673, dtype: int64

artist_display_bio: artist_display_bio
|     54
||     1
Name: count, dtype: int64

artist_suffix: artist_suffix
                      1195
[DvB]                  738
? [DvB]                 34
[Dyfri Williams]        33
[Robert Guy]            14
                      ...
?                        1
? [DvB]|?                1
? [Dyfri Williams]       1
[B. Cohen]               1
[K. Heuer]               1
Name: count, Length: 59, dtype: int64

artist_alpha_sort: artist_alpha_sort
Makron                      209
Douris                       47
Antiphon Painter             40
Euaion Painter               32
Brygos Painter               32
                           ...
Orpheus Painter               1
Painter of Ruvo 325           1
Painter of Munich 2660        1
Oakeshott Painter             1
Painter of Berlin F 3383      1
Name: count, Length: 673, dtype: int64

artist_nationality: artist_nationality
           2074
 |           54
Swiss        11
British       2
Roman         1
 | |          1
Italian       1
French        1
Name: count, dtype: int64

artist_begin_date: artist_begin_date
                                    2086
          |                           54
1594                                   1
0001                                   1
          |          |                 1
1475                                   1
1535                                   1
Name: count, dtype: int64

artist_end_date: artist_end_date
                                    2086
          |                           54
1643                                   1
0100                                   1
          |          |                 1
1564                                   1
1604                                   1
Name: count, dtype: int64

artist_gender: artist_gender
|     54
||     1
Name: count, dtype: int64

In [37]:
df = df.drop([ 'constituent_id', 'department', 'artist_role', 'artist_display_bio', 'artist_begin_date', 'artist_end_date', 'artist_gender', 'artist_ulan_url', 'artist_wikidata_url', 'link_resource', 'object_wikidata_url', 'tags_aat_url', 'tags_wikidata_url' ], axis = 1)
df

,object_number,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,accession_year,object_name,title,culture,period,artist_prefix,artist_display_name,artist_suffix,artist_alpha_sort,artist_nationality,object_date,object_begin_date,object_end_date,medium,dimensions,credit_line,classification,repository,tags
0,70.1,True,True,True,239584,169.0,1870.0,"Sarcophagus, garland",Marble sarcophagus with garlands,Roman,Severan,NaN,NaN,NaN,NaN,NaN,ca. 200–225 CE,200,225,"Marble, Proconnesian",Overall: 53 x 88in. (134.6 x 223.5cm) ...,"Gift of Abdo Debbas, 1870",Stone Sculpture,"Metropolitan Museum of Art, New York, NY",Animals|Garlands|Hunting|Medusa
1,74.51.3631,False,False,True,239585,171.0,1874.0,Pendant in the form of a vase,Pendant in the form of a vase,Greek,Classical,NaN,NaN,NaN,NaN,NaN,5th–4th century BCE,-499,-300,Gold,Other: 9/16 in. (1.4 cm),"The Cesnola Collection, Purchased by subscript...",Gold and Silver,"Metropolitan Museum of Art, New York, NY",NaN
2,74.51.1,False,False,True,239586,NaN,1874.0,Bead,Glass bead,Greek,Hellenistic,NaN,NaN,NaN,NaN,NaN,ca. 330–70 BCE,-330,-70,Glass,L.: 1 in. (2.4 cm)\r\nDiam.: 3/8 in. (1.0 cm),"The Cesnola Collection, Purchased by subscript...",Glass,"Metropolitan Museum of Art, New York, NY",NaN
3,74.51.2,False,False,True,239587,NaN,1874.0,Perfume bottle,Glass perfume bottle,"Roman, Cypriot",Mid Imperial,NaN,NaN,NaN,NaN,NaN,2nd–3rd century CE,100,299,Glass,6 5/8in. (16.8cm)\r\nOther: 3 5/8in. (9.2cm)\r...,"The Cesnola Collection, Purchased by subscript...",Glass,"Metropolitan Museum of Art, New York, NY",NaN
4,74.51.3,False,False,True,239588,NaN,1874.0,Bead,Glass eye bead,"Phoenician, Cypriot",Archaic or Classical,NaN,NaN,NaN,NaN,NaN,6th–4th century BCE,-599,-300,Glass,L.: 3/8 in. (1 cm)\r\nDiam.: 15/16 in. (0.9 cm),"The Cesnola Collection, Purchased by subscript...",Glass,"Metropolitan Museum of Art, New York, NY",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33721,"2021.264.2a, b",False,False,False,854888,NaN,2021,sarcophagus,Sarcophagus,Roman,NaN,NaN,NaN,NaN,NaN,NaN,3rd century,200,300,Marble,Other: 44 × 84 × 40 in. (111.8 × 213.4 × 101.6...,"Gift of Carmel and Eugene Krauss, M.D., 2021",Stone Sculpture,"Metropolitan Museum of Art, New York, NY",NaN
33722,2021.437,False,False,True,856618,152,2021,statuette,Statuette of a standing goddess,"Greek, Boeotian",NaN,NaN,NaN,NaN,NaN,NaN,ca. 525–500 BC,-530,-495,terracotta,9 × 3 3/8 × 1 1/4 in. (22.9 × 8.6 × 3.2 cm),"Purchase, Patricia and Marietta Fried Gift, 2021",Terracottas,"Metropolitan Museum of Art, New York, NY",NaN
33723,74.51.6718,False,False,True,857709,171,1874,Askos,Terracotta askos in the shape of a quadruped,Cypriot,Early Cypriot III–Middle Cypriot,NaN,NaN,NaN,NaN,NaN,ca. 2000–1725 BCE,-2000,-1725,Terracotta,"2 5/8 × 1 1/2 × 3 3/4 in., 1.764oz. (6.7 × 3.8...","The Cesnola Collection, Purchased by subscript...",Vases,"Metropolitan Museum of Art, New York, NY",NaN
33724,74.51.6719,False,False,True,857715,171,1874,Askos,Terracotta askos in the shape of a water bird,Cypriot,Late Cypriot IIIB,NaN,NaN,NaN,NaN,NaN,early 11th century BCE,-1100,-1001,Terracotta,"4 1/2 × 2 3/4 × 6 1/4 in., 5.114oz. (11.4 × 7 ...","The Cesnola Collection, Purchased by subscript...",Vases,"Metropolitan Museum of Art, New York, NY",Birds
33725,74.51.6720,False,False,True,857718,171,1874,Stirrup jar,Terracotta stirrup jar,Mycenaean,Late Helladic IIIA2,NaN,NaN,NaN,NaN,NaN,ca. 1375–1300BCE,-1376,-1300,Terracotta,"7 1/2 × 5 1/2 in., 16.753oz. (19.1 × 14 cm, 475g)","The Cesnola Collection, Purchased by subscript...",Vases,"Metropolitan Museum of Art, New York, NY",NaN

In [38]:
df.is_highlight.value_counts()

is_highlight
False    33612
True       114
Name: count, dtype: int64

In [39]:
pd.set_option('display.max_rows', None)
df.culture.value_counts()

culture
Greek, Attic                                          17309
Roman                                                  4615
Cypriot                                                2815
Etruscan                                               1230
Greek                                                  1140
Minoan                                                  661
Greek, South Italian, Apulian                           274
Greek, Laconian                                         261
Roman, Cypriot                                          259
Greek, Eastern Mediterranean                            200
East Greek/Sardis, Lydian                               180
Italic                                                  171
Greek, Corinthian                                       154
Greek, Boeotian                                         134
Greek, South Italian, Tarentine                         126
East Greek                                              124
Minoan, Crete                                           110
Greek, Cypriot                                          101
Greek or Roman                                           97
Unknown fabric                                           87
Greek, South Italian, Campanian                          85
Lydian                                                   83
Mycenaean                                                80
Roman, Gaul                                              76
Egyptian                                                 70
Roman, Syrian                                            66
Aegean                                                   66
Greek, South Italian                                     65
Greek, Cretan                                            52
Post-Classical                                           49
Cycladic                                                 47
Italic, Villanovan                                       39
Helladic, Mycenaean                                      36
Roman, Egyptian                                          34
Neolithic, Thessaly                                      32
Phoenician                                               29
Etruscan, Etrusco-Corinthian                             24
Greek, South Italian, Lucanian                           23
Helladic                                                 22
Greek, Eastern Mediterranean or Italian                  21
Greek, Egypt, Alexandria-Hadra                           21
Italic-Native, South Italian (Daunian)                   21
Phoenician or Carthaginian                               20
Roman, probably Italian                                  20
Greek, Ptolemaic                                         19
Greek, Chalcidian                                        19
Greek, South Italian, Apulian, Gnathian                  19
Cretan                                                   19
Greek, Asia Minor                                        19
Greek, South Italian, Campanian, Teano                   18
Greek, South Italian, Apulian, Canosan                   17
Greek, South Italian, Gnathian                           17
Greek, Sicilian                                          17
Greek Neolithic                                          17
Villanovan                                               16
Etruscan, Vulci                                          16
Greek, Corinthian?                                       16
Greek, Euboean                                           15
Roman, Pompeian                                          15
Greek, Ptolemaic, Cretan                                 14
Greek, Ionian                                            14
Greek, Rhodian                                           14
Greek or Etruscan                                        13
Rhodian                                                  13
Neolithic, Gonia                                         13
Greek, Attic?                                            13
Praenestine                                              13
Etruscan or Italic                                       13
Eastern Mediterranean or Italian                         12
Neolithic, Nemea                                         12
Egyptian, Roman                                          12
Greek, South Italian, Campanian, Calenian                12
East Greek, Lydian                                       12
Greek, Lydian                                            12
Greek ?                                                  11
Roman, Palestinian                                       11
Roman, Eastern Mediterranean                             11
Greek or Cypriot                                         11
Cypro-Phoenician                                         10
Egyptian, Ptolemaic                                      10
Roman, Rhenish                                           10
Neolithic                                                10
Roman, Syro-Palestinian                                  10
Possibly Cypriot                                         10
Cypriot or Phoenician                                    10
Greek, Macedonian                                         9
East Greek, Rhodian                                       9
Carthaginian                                              9
Greek, probably Attic                                     9
Greek or Achaemenid                                       9
East Greek or Lydian                                      9
Greek, probably Boeotian                                  8
East Greek, Clazomenian                                   8
Islamic                                                   8
Greek, South Italian, Paestan                             8
Greek, Arcadian                                           8
Roman, probably Egyptian                                  7
Anatolian                                                 7
Graeco-Persian                                            7
Greek, Tarentine                                          7
Etruscan, Genucilia                                       7
Etruscan, Faliscan                                        7
East Germanic or nomadic (?)                              6
Etruscan or Roman                                         6
Greek, Seleucid                                           6
Venetian                                                  6
Roman, Italian                                            6
Roman, Cnidian                                            6
Italic or Etruscan                                        6
Dimini culture                                            6
Etruscan, Cerveteri                                       6
Etrusco-Campanian                                         6
Roman or later                                            6
Phrygian                                                  6
Greek, Sicilian, Centuripe                                5
Italic, Etruria                                           5
Greek, South Italian?                                     5
Greek, Pergamene                                          5
Greek, Attic or Boeotian                                  5
Greek, Melian                                             5
East Greek or Parthian                                    5
Italic or Roman                                           5
Greek, Asia Minor, Smyrna                                 5
Neolithic, Hagiorgetika                                   5
Italic, Umbrian                                           5
Greek or Roman, Cypriot                                   5
Greek, Attic ?                                            5
Roman, Asia Minor                                         5
Byzantine                                                 5
Graeco-Phoenician                                         4
Frankish                                                  4
Greek, probably Eastern Mediterranean                     4
Carthaginian or Eastern Mediterranean                     4
Native Italic, Daunian                                    4
Celtic                                                    4
East Greek, Milesian, Fikellura                           4
Greek, Argive                                             4
Etruscan or South Italian                                 4
Post Classical                                            4
Etruscan, Subgeometric, probably Caeretan                 4
South Italian                                             4
Roman or Islamic                                          4
East Greek, Wild Goat Style                               4
Roman ?                                                   4
Greek, possibly Rhodian                                   4
Roman, Egypt, Alexandria                                  4
Eastern Mediterranean or South Italian                    4
Greek, Corinthian ?                                       4
Egyptian, Ptolemaic or Roman                              4
Native Italic, Daunian, Canosan                           3
Cypriot ?                                                 3
Roman?                                                    3
Roman, North Syrian                                       3
Italic-Native, South Italian (Canosan)                    3
Roman or Frankish                                         3
Greek, Macedon                                            3
Greek, Asia Minor, Myrina                                 3
Native Italic, Apulian, Messapian                         3
Italic, Samnite                                           3
Etruscan, Italo-geometric                                 3
Roman or Byzantine                                        3
Punic                                                     3
Cypriot or Greek                                          3
Roman, eastern Mediterranean                              3
Probably Etruscan                                         3
Greek, possibly Attic                                     3
Etruscan, Populonia                                       3
Etruscan, Italo-Corinthian                                3
Italic-Native, Sicilian (Centuripe)                       3
Greek, probably Rhodian                                   3
Greek, Rhodian ?                                          3
Late Villanovan                                           3
Greek, Eastern Mediterranean or possibly Italian          3
Egyptian (?)                                              3
Greek, Egyptian                                           3
Phoenician (?)                                            2
Islamic?                                                  2
Etruscan?                                                 2
Greek (?)                                                 2
East Greek/Sardis                                         2
Etruscan, Etrusco-Corinthian?                             2
Phoenician?                                               2
Greek, Argos                                              2
Greek, Caeretan                                           2
Greek, Myrina                                             2
Roman, Gallic                                             2
Italic, Etruscan                                          2
Greek, Attica                                             2
Greek, Peloponnesian                                      2
Greek, from Egypt                                         2
Sesklo culture                                            2
Greek, South Italian, Lucanian?                           2
Greek, Chalcidian?                                        2
Greek, Cretan ?                                           2
Greek, Sardinian                                          2
Greek, South Italian or Etruscan                          2
Etruscan, Campanian                                       2
Sassanian                                                 2
Greek, South Italian, probably Apulian                    2
Greek, South Italian, Medmaean                            2
Roman, Asia Minor, Tarsus                                 2
Rhodian (Fikellura)                                       2
Capenate                                                  2
Roman, probably northern Italian                          2
Islamic (?)                                               2
Greek, Pontic                                             2
Greek, Eastern Mediterranean, possibly Alexandrian        2
Greek, Eretrian                                           2
Greek, probably Asia Minor                                2
Greek, Asia Minor, Myrina (?)                             2
Italian                                                   2
Greek, South Italian ?                                    2
Probably western Asiatic or Levantine                     2
Italic, South Italian                                     2
Faliscan                                                  2
Greek, Sicilian, Syracuse                                 2
Roman, possibly Egyptian                                  2
Etruscan, Chiusi or environs                              2
Greek, Bactrian                                           2
Roman or Greek                                            2
Ptolemaic                                                 2
Greek, Syro-Palestinian                                   2
Greek?                                                    2
Greek, South Italian (?)                                  2
Roman (?)                                                 2
Roman, Rhineland                                          2
Apulian, possibly Tarentine                               2
Italic-Native, South Italian (Tarentine)                  1
Greek, Phokis                                             1
Greek, probably Corinthian                                1
Native Italian, Daunian, Canosan                          1
Minoan or Greek                                           1
Greek, Attic or Etruscan                                  1
Etruscan, Umbrian                                         1
Italic, Italo-Corinthian                                  1
Punic, Western Mediterranean                              1
Italic, possibly Daunian                                  1
East Greek, perhaps Rhodian                               1
Roman, Egyptian, Alexandrian                              1
Greek, Kos                                                1
Greek, Sicilian or South Italian                          1
Cypriot?                                                  1
Cypriot\r\n                                               1
Greek, Carthaginian                                       1
Greek, Syria-Palestine                                    1
Greek, Syria-Palestine or Egypt                           1
Greek, Sicilian ?                                         1
Italiote, South Italian                                   1
Greek, Attic or South Italian                             1
Greek, Ptolemaic or Roman                                 1
Greek, Protoattic                                         1
Greek, probably Ptolemaic                                 1
Greek, Syracuse                                           1
Cypro-Greek                                               1
Late Villanovan and Etruscan                              1
Greek, Egypt                                              1
East Greek, Chiot                                         1
Greek, possibly Boeotian                                  1
Greek, South Italian, Locrian ?                           1
Etruscan, Caeretan                                        1
Egyptian.                                                 1
Etruscan, probably Tarquinian                             1
Roman, South Italian (Campanian) ?                        1
Greek, probably Cycladic or northern Ionian               1
Greek, South Italian, Locrian                             1
Egyptian, Greek or Roman                                  1
Iberian                                                   1
East Greek, Samian                                        1
Mycenaean or Cypro-Mycenaean                              1
Greek, Euboea, Chalkis                                    1
Euboean or Cypriot                                        1
Greek, Mysia, Kyzikos                                     1
Greek, Cappadocia, Eusebeia                               1
Greek and Roman                                           1
Late Archaic                                              1
Greek, probably Cypriot                                   1
Post-Roman (?)                                            1
Levantine                                                 1
Greek, Laconian?                                          1
East Greek or Cypriot                                     1
Egyptian or Cypriot                                       1
East Greek, Clazomenian?                                  1
Greek, South Italian, Apulian?                            1
Probably Phoenician                                       1
Phoenician, Cypriot                                       1
Roman, Gaul (?)                                           1
Greek, Asia Minor, Smyrna ?                               1
Cypriot or Aegean                                         1
Greek, Attic (?)                                          1
Greek, West Greek                                         1
Modern after Villanovan                                   1
Greek, Ptolemaic Egyptian                                 1
Greek, Apulian                                            1
Greek, Spain ?                                            1
Greek, East Greek                                         1
South Italian or Etruscan                                 1
Roman, Palestine                                          1
Roman, Cypriot (?)                                        1
Northwest Anatolian                                       1
Roman, Cyprus                                             1
Venetian (?)                                              1
Langobardic (mount), Etruscan (intaglio)                  1
Campanian or South Italian Greek                          1
Roman, Ephesian                                           1
Cycladic or Cretan                                        1
Etrucan, Vulci                                            1
Roman, Egyptian (?)                                       1
Greek, Cretan or South Italian                            1
Macedonian                                                1
Possibly Frankish                                         1
Greek, Boeotian or Attic                                  1
Etruscan, Vetulonia                                       1
Roman, South Gaulish                                      1
East Greek ?                                              1
Greek, South Italian, Apulian, Tarentine                  1
Hellenistic, Roman, or Islamic                            1
Greek, South Italian, Campanian or Sicilian               1
Greek, South Italian, probably Paestan                    1
Greek, possibly Egyptian                                  1
Greek or Etruscan, South Italian (Campanian)              1
Greek, possibly Cumaean                                   1
Greek, Rhodes                                             1
East Greek, Ephesian                                      1
Greek, Lesbian                                            1
Greek, Ptolemaic or Roman, Egyptian                       1
Greek, Peloponnesian-Elis                                 1
Greek, Pergamene (?)                                      1
Roman, Gaulish                                            1
Greek, Aeginetan                                          1
Greek, Boeatian                                           1
West Greek                                                1
Roman, Gallia Belgica                                     1
Greek, perhaps Attic                                      1

In [40]:
pd.set_option('display.max_rows', 20)
greek_highlights = df[(df.is_highlight == True) & (df.culture.str.contains('Greek'))]
greek_highlights

,object_number,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,accession_year,object_name,title,culture,period,artist_prefix,artist_display_name,artist_suffix,artist_alpha_sort,artist_nationality,object_date,object_begin_date,object_end_date,medium,dimensions,credit_line,classification,repository,tags
8166,"07.286.36a, b",True,True,True,247916,157.0,1907.0,Pyxis,Terracotta pyxis (box),"Greek, Attic",Classical,Attributed to the,Penthesilea Painter,,Penthesilea Painter,,ca. 465–460 BCE,-465,-450,Terracotta,H. 4 3/4 in. (12.1 cm)\r\nH. with cover 6 3/4...,"Rogers Fund, 1907",Vases,"Metropolitan Museum of Art, New York, NY",Men|Women
8213,07.286.84,True,True,True,247964,153.0,1907.0,Volute-krater,Terracotta volute-krater (bowl for mixing wine...,"Greek, Attic",Classical,Attributed to the,Painter of the Woolly Satyrs,(namepiece),Painter of the Woolly Satyrs,,ca. 450 BCE,-450,-450,Terracotta,H. 25 in. (63.5 cm),"Rogers Fund, 1907",Vases,"Metropolitan Museum of Art, New York, NY",Battles|Women|Amazons|Centaurs|Chariots|Horses
8216,07.286.87,True,True,True,247967,153.0,1907.0,Statuette of a diskos-thrower,Bronze diskos thrower,Greek,Classical,NaN,NaN,NaN,NaN,NaN,ca. 480–460 BCE,-480,-460,Bronze,H. 9 5/8 in. (24.51 cm),"Rogers Fund, 1907",Bronzes,"Metropolitan Museum of Art, New York, NY",Male Nudes|Athletes
8371,09.221.3,True,False,True,248140,156.0,1909.0,Statue of a lion,Marble statue of a lion,Greek,Classical,NaN,NaN,NaN,NaN,NaN,ca. 400–390 BCE,-400,-390,"Marble, Parian 2",H. 31 1/4 in. (79.4 cm)\r\nlength 63 1/2 in. ...,"Purchase, Rogers Fund, and James Loeb and Anon...",Stone Sculpture,"Metropolitan Museum of Art, New York, NY",Lions
8492,10.142.1,True,False,True,248268,153.0,1910.0,Head of a goddess,Marble head of a goddess,Greek,Late Classical,NaN,NaN,NaN,NaN,NaN,4th century BCE,-399,-300,Marble,H. 21 3/4 in. (55.25 cm),"Rogers Fund, 1910",Stone Sculpture,"Metropolitan Museum of Art, New York, NY",Heads|Goddess
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16496,"11.185a–d, f, g, x",True,False,True,256974,154.0,1911.0,"Grave stele with a youth and little girl, and ...",Marble stele (grave marker) with a youth and l...,"Greek, Attic",Archaic,NaN,NaN,NaN,NaN,NaN,ca. 530 BCE,-530,-530,Marble,total H. 13 ft. 10 11/16 in. (423.4 cm),"Frederick C. Hewitt Fund, 1911; Rogers Fund, 1...",Stone Sculpture,"Metropolitan Museum of Art, New York, NY",Girls|Men|Sphinx
16497,37.11.8–.17,True,True,True,256975,158.0,1937.0,Ganymede Jewelry,Ganymede jewelry,Greek,Hellenistic,NaN,NaN,NaN,NaN,NaN,ca. 330–300 BCE,-330,-300,"Gold, rock crystal, emerald",length of necklace 13 in. (33 cm); H. of earri...,"Harris Brisbane Dick Fund, 1937",Gold and Silver,"Metropolitan Museum of Art, New York, NY",NaN
16500,"1989.281.49, .50",True,False,True,256978,152.0,1989.0,"Helmets, 2",Two bronze helmets,"Greek, Cretan",Archaic,NaN,NaN,NaN,NaN,NaN,late 7th century BCE,-650,-600,Bronze,H. (1989.281.49): 9 5/8 in. (24.5 cm)\r\nH. (1...,"Gift of Norbert Schimmel Trust, 1989",Bronzes,"Metropolitan Museum of Art, New York, NY",Horses|Snakes|Lions
16974,2002.66,True,True,True,257603,162.0,2002.0,Head of a Ptolemaic queen,Marble head of a Ptolemaic queen,Greek,Hellenistic,NaN,NaN,NaN,NaN,NaN,ca. 270–250 BCE,-275,-250,Marble,H. 15 in. (38.1 cm),"Purchase, Lila Acheson Wallace Gift, The Bothm...",Stone Sculpture,"Metropolitan Museum of Art, New York, NY",Queens|Heads|Women
17111,2012.479.7,True,False,True,257880,162.0,2012.0,Oinochoe,Glass oinochoe,Greek,Classical or Hellenistic,NaN,NaN,NaN,NaN,NaN,mid-4th–early 3rd century BCE,0,-4,Glass,Other (H. w/ handles): 8 1/4 in. (20.9 cm)\r\n...,"Gift of Renée E. and Robert A. Belfer, 2012",Glass,"Metropolitan Museum of Art, New York, NY",NaN

In [41]:
greek_highlights.shape[0]

64

In [42]:
greek_highlights_p = (greek_highlights.shape[0] / df[df.is_highlight == True].shape[0]) * 100
greek_highlights_p

56.14035087719298

In [43]:
roman_highlights = df[(df.is_highlight == True) & (df.culture.str.contains('Roman'))]
roman_highlights

,object_number,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,accession_year,object_name,title,culture,period,artist_prefix,artist_display_name,artist_suffix,artist_alpha_sort,artist_nationality,object_date,object_begin_date,object_end_date,medium,dimensions,credit_line,classification,repository,tags
0,70.1,True,True,True,239584,169.0,1870.0,"Sarcophagus, garland",Marble sarcophagus with garlands,Roman,Severan,NaN,NaN,NaN,NaN,NaN,ca. 200–225 CE,200,225,"Marble, Proconnesian",Overall: 53 x 88in. (134.6 x 223.5cm) ...,"Gift of Abdo Debbas, 1870",Stone Sculpture,"Metropolitan Museum of Art, New York, NY",Animals|Garlands|Hunting|Medusa
5760,81.10.224,True,False,True,245376,166.0,1881.0,"Amphoriskos, Ennion",Glass hexagonal amphoriskos,Roman,"Early Imperial, Julio-Claudian",NaN,NaN,NaN,NaN,NaN,1st half of 1st century CE,1,50,Glass,Other: 5 5/8 × 3 1/8 × 2 13/16 in. (14.2 × 8 ×...,"Gift of Henry G. Marquand, 1881",Glass,"Metropolitan Museum of Art, New York, NY",Palmettes
6168,91.1.1402,True,True,True,245787,166.0,1891.0,Bowl,Glass garland bowl,Roman,"Early Imperial, Augustan",NaN,NaN,NaN,NaN,NaN,late 1st century BCE,-30,-1,Glass,"H. 1 13/16 in. (4.6 cm), diameter 7 1/8 in. (...","Edward C. Moore Collection, Bequest of Edward ...",Glass,"Metropolitan Museum of Art, New York, NY",Garlands
7280,03.14.4,True,True,True,247008,164.0,1903.0,Wall painting,Wall painting from the west wall of Room L of ...,Roman,Late Republican,NaN,NaN,NaN,NaN,NaN,ca. 50–40 BCE,-50,-40,Fresco,Overall: 77 x 107in. (195.6 x 271.8cm),"Rogers Fund, 1903",Miscellaneous-Paintings,"Metropolitan Museum of Art, New York, NY",Masks|Garlands|Bulls|Snakes|Fruit
7281,03.14.5,True,True,True,247009,164.0,1903.0,Wall painting,Wall painting from Room H of the Villa of P. F...,Roman,Late Republican,NaN,NaN,NaN,NaN,NaN,ca. 50–40 BCE,-50,-40,Fresco,Overall: 73 1/2 x 73 1/2in. (186.7 x 186.7cm),"Rogers Fund, 1903",Miscellaneous-Stone,"Metropolitan Museum of Art, New York, NY",Musical Instruments|Girls|Women|Musicians|Chairs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16201,2010.260,True,True,True,256403,162.0,2010.0,Statue group of the Three Graces,Marble Statue Group of the Three Graces,Roman,Imperial,NaN,NaN,NaN,NaN,NaN,2nd century CE,100,199,Marble,Overall: 48 7/16 x 39 3/8in. (123 x 100cm),"Purchase, Philodoroi, Lila Acheson Wallace, Ma...",Stone Sculpture,"Metropolitan Museum of Art, New York, NY",Female Nudes
16219,1997.145.3,True,True,True,256570,169.0,1997.0,Plaque of Mithras killing the bull,Bronze plaque of Mithras slaying the bull,Roman,"Mid-Imperial, Antonine or Severan",NaN,NaN,NaN,NaN,NaN,mid-2nd–early 3rd century CE,130,220,Bronze,Overall: 14 x 11 5/8 x 1 3/4 in. (35.6 x 29.5 ...,"Gift of Mr. and Mrs. Klaus G. Perls, 1997",Bronzes,"Metropolitan Museum of Art, New York, NY",Men|Bulls|Dogs|Scorpions|Snakes
16993,"2003.407.8a, b",True,False,True,257640,162.0,2003.0,"Statue of a young man, half-draped",Marble statue of a member of the imperial family,Roman,Augustan or Julio-Claudian,NaN,NaN,NaN,NaN,NaN,27 BCE–68 CE,-27,68,Marble,H. 47 in. (199.38 cm)\r\nWidth: 24 1/2 in. (62...,"Bequest of Bill Blass, 2002",Stone Sculpture,"Metropolitan Museum of Art, New York, NY",Men
17106,2012.479.2,True,False,True,257875,169.0,2012.0,"Flask, snake-thread mouse-shaped",Glass snake-thread flask shaped like a mouse,Roman,Late Imperial,NaN,NaN,NaN,NaN,NaN,3rd century CE,200,299,"Glass, blue",Other: 2 1/2 x 2 x 5 3/4 in. (6.3 x 5.1 x 14.6...,"Gift of Renée E. and Robert A. Belfer, 2012",Glass,"Metropolitan Museum of Art, New York, NY",Mice
17295,2014.215,True,True,True,634951,166.0,2014.0,"Urn, cinerary",Porphyry vessel with bearded masks,Roman,Early Imperial,NaN,NaN,NaN,NaN,NaN,ca. late 1st century BCE‒early 2nd century CE,-30,125,Porphyry,10 1/16 × 11 13/16 × 9 3/4 in. (25.5 × 30 × 24...,"Purchase, Acquisitions Fund, The Jaharis Famil...",Miscellaneous-Stone Vases,"Metropolitan Museum of Art, New York, NY",Masks|Men

In [44]:
roman_highlights_p = (roman_highlights.shape[0] / df[df.is_highlight == True].shape[0]) * 100
roman_highlights_p

31.57894736842105

In [45]:
gar_highlights = df[(df.is_highlight == True) & (df.culture.str.contains('Roman') & df.culture.str.contains('Greek'))]
gar_highlights

,object_number,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,accession_year,object_name,title,culture,period,artist_prefix,artist_display_name,artist_suffix,artist_alpha_sort,artist_nationality,object_date,object_begin_date,object_end_date,medium,dimensions,credit_line,classification,repository,tags
14640,49.11.3,True,False,True,254613,164.0,1949.0,Statue of a boy in tiara and oriental dress,Bronze statuette of a boy in Eastern dress,"Greek, Ptolemaic or Roman",Late Hellenistic or Early Imperial,NaN,NaN,NaN,NaN,NaN,mid-late 1st century BCE,-50,-20,Bronze,"25 1/8 in., 29.5 lb. (63.8 cm, 13.4 kg)\r\nWid...","Edith Perry Chapman Fund, 1949",Bronzes,"Metropolitan Museum of Art, New York, NY",Boys

In [46]:
gar_highlights_p = (gar_highlights.shape[0] / df[df.is_highlight == True].shape[0]) * 100
gar_highlights_p

0.8771929824561403